[2016-08-09 15:41] sandroacoelho opened #1 "Install FREME-NER from oficial mirror"
Install FREME-NER from oficial mirror
- https://github.com/freme-project/freme-docker/blob/master/freme-ner/Dockerfile#L3

[2016-09-08 13:18] jnehring opened #2 "integrate docker and maven - low priority"
Configure [docker-maven-plugin](https://github.com/spotify/docker-maven-plugin) for FREME.

The plugin can ease updating the freme-broker image a lot. The [freme-full](https://github.com/freme-project/freme-packages/tree/master/freme-full) package can contain the docker file and create and push the docker image using a maven command.

[2016-09-08 13:20] jnehring opened #3 "add docker compose"
Currently freme consists of three docker containers
- freme-broker
- freme-mysql
- freme-solr

Later there will be a Virtuoso container also. All of the packages should be configured together using docker compose.

[2016-09-08 13:21] jnehring opened #4 "dockerize virtuoso"
Open Virtuoso triple store should be dockerized.

1st step: Find or create the docker container
2nd step: Load datasets into the container

[2016-09-08 13:22] jnehring opened #5 "Add easy asset init scripts"
Add the data from [initialising freme](api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/initialising-freme.html) to the freme-with-assets container (see #6 )

[2016-09-08 13:23] jnehring opened #6 "create freme-with-assets image"
The freme-with-assets container is freme-broker with all assets

[2016-09-08 14:24] jnehring opened #7 "Upload images to dockerhub"

[2016-09-08 14:24] jnehring opened #8 "Write freme-docker documentation"

[2016-09-08 14:28] jnehring opened #9 "access control to web uis"
The system has many web uis. It might be a good idea to hide them from the open web. Maybe this is more a question of the cloud that hosts the system (e.g. amazon) then of the docker configuration itself.

[2016-09-08 14:32] jnehring opened #10 "change passwords"
Currently the system defines static default passwords. These should be configurable so every installation uses their own set of passwords.

Currently it is unclear how this will work.

[2016-09-08 22:03] sandroacoelho commented on #10
Hi @jnehring,

As you have proposed, you will offer pre-built versioned images who contains software layers that FREME needs to run.

Under this images, we can offer Dockerfiles just with variables (passwords, config files) etc

E.g:

[code]

It would be reliable, will save a lot of time and is a breakthrough, if we compare with our [first version](https://github.com/freme-project/freme-docker/blo

[2016-09-14 11:16] jnehring commented on #9
related to #10

[2016-09-14 11:26] jnehring commented on #10
We can set passwords for
- mysql through environment variables / docker-compose.yml (see [wiki](https://github.com/freme-project/freme-docker/wiki))
- virtuoso through environment variables / docker-compose.yml (see [wiki](https://github.com/freme-project/freme-docker/wiki))
- solr - i think solr does not use any passwords
- we can pass the passwords to FREME via environment variables (see [spring

[2016-09-14 12:19] jnehring commented on #3
done. see https://github.com/freme-project/freme-docker/wiki

for virtuoso, a standard image is used.

[2016-09-14 12:20] jnehring commented on #6
this will not be one image but multiple images instead

[2016-09-14 12:20] #6 closed, assigned to nobody

[2016-09-14 12:20] jnehring commented on #4
Done. We use tenforce/virtuoso

[2016-09-14 12:20] #4 closed, assigned to nobody

[2016-09-14 12:21] jnehring commented on #8
Started to collect documentation here: https://github.com/freme-project/freme-docker/wiki

[2016-09-15 08:55] jnehring opened #11 "initialize docker images with data"
From [making FREME assets available](https://docs.google.com/document/d/1qlA2LyqKwGeO_ds9hFNDzKT_Wd_C7wv6z4CIK_PLiSo/edit#)

This issue is about
- e-Link templates,
- SPARQL converters
- XSLT templates
- pipelines

Will use the .sql files from [initialising freme documentation](https://api.freme-project.eu/doc/current/knowledge-base/freme-for-sysadmins/initialising-freme.html).

[2016-09-15 08:56] jnehring opened #12 "Research combination of docker images"
From [making FREME assets available](https://docs.google.com/document/d/1qlA2LyqKwGeO_ds9hFNDzKT_Wd_C7wv6z4CIK_PLiSo/edit#)

We need to find out how to add datasets to FREME NER and virtuoso. Check if we can combine Docker images. So we create a docker image for each dataset / language and then create combinations for each partner.

[2016-09-15 08:57] jnehring opened #13 "Specify partner installations"
Ask partners how they want the installation
- Very fast and easy? / From scratch and difficult?
- Do they want the whole installation and not care system resources or custom?

[2016-09-15 08:59] jnehring commented on #7
I uploaded our images to dockerhub, see https://hub.docker.com/u/fremeproject/dashboard/
further I have updated the documentation: https://github.com/freme-project/freme-docker/wiki

[2016-09-15 08:59] #7 closed, assigned to nobody

[2016-09-15 09:08] #3 closed, assigned to jnehring

[2016-09-15 09:09] jnehring commented on #1
I dont understand. Can you please explain what this issue is about?

[2016-09-15 09:17] jnehring opened #14 "Run FREME in docker and test"
Currently our docker configuration starts
- freme-broker including all packages. In order to keep the images smaller and speed up starting time and the build process FREME NER uses the english model only
- mysql, solr, virtuoso

When I start the composition I
- can use e-Translation service
- FREME NER fails with this error message: [freme-ner-exception.txt](https://github.com/freme-project/freme-

[2016-09-21 07:24] jnehring opened #15 "FREME NER does not work in docker"
When I call FREME NER in docker then I get [this exception](https://github.com/freme-project/freme-docker/files/474235/freme-ner-exception.txt). It causes the JVM to stop and therefore the whole broker shuts down.

@sandroacoelho can you please take a look at the error message and find out what is wrong?

[2016-09-21 07:29] jnehring commented on #5
dublicate of #11

[2016-09-21 07:29] #5 closed, assigned to nobody

[2016-09-21 07:30] jnehring opened #16 "Add freme ner datasets to the images"

[2016-09-21 07:30] jnehring opened #17 "Add large datasets to Virtuoso"

[2016-09-21 12:20] pheyvaer commented on #9
So all these web uis are offered via a different port, right?

[2016-09-22 07:43] jnehring commented on #9
right

[2016-09-22 13:20] jnehring commented on #13
Done in the questionnaire: https://docs.google.com/document/d/1UNPkoCjScO5HPXYs4DxzfWjOe0kX0sSbj3h07surY5E/edit?usp=drive_web

[2016-09-22 13:20] #13 closed, assigned to jnehring

[2016-09-26 14:58] jnehring commented on #12
Any news here? I still dont understand how this will work.

[2016-09-26 15:02] jnehring commented on #16
I suggest that using the Dockerfiles we create the images without data. Then we add all the data (both freme-ner and virtuoso data) to the images and tag the containers freme-mysql, freme-virtuoso and freme-solr. Then we can create a docker-compose file that starts up the images with data.

I think this way is the easiest to implement. It makes it more complicated to update the datasets because th

[2016-09-27 01:52] sandroacoelho commented on #15
Hi @jnehring ,

It seems that [solr-solrj-5.2.1.jar](http://central.maven.org/maven2/org/apache/solr/solr-solrj/5.2.1/) is not in classpath

[2016-09-27 06:57] pheyvaer commented on #9
I've had a look at Amazon for deploying a docker container. A quick guide can be found [here](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/docker-basics.html). Regarding the different uis, you can open the required ports using the `-p` option, as explained in the aforementioned guide and [here](https://docs.docker.com/engine/reference/run/#/expose-incoming-ports). This will link a po

[2016-09-27 07:34] jnehring commented on #15
ok thank you. i remember this problem and will fix it.

[2016-09-27 07:42] jnehring commented on #9
We can discuss tomorrow. I know about the -p parameter in docker but it does not solve the problem. These web UIs should be
- accessible for the administrators, that means for the business case partners.
- not accesible for anybody else.

Possible solutions are (this is only a brainstorming)
- password protect them one by one - i guess this is a lot of work.
- have an entry in the iptables that op

[2016-09-27 09:38] jnehring commented on #11
I used the method described in https://hub.docker.com/_/mysql/ to initialise the data. It did not work when I wrote the data in individual mysql files, so I concatenated all the files

[code]

and then loaded it in the Dockerfile. It is important that the first file to be executed is init_admin.sql. Further it is important that the first lines of the sql file are

[code]

So this issue is solved.

[2016-09-27 09:38] #11 closed, assigned to jnehring

[2016-09-27 09:57] jnehring commented on #15
This cannot be the problem. I checked the configuration and solr 5.2.1 is on the classpath. You can see the freme-package that runs inside of the container here: https://github.com/freme-project/freme-docker/tree/master/freme-package

You can reproduce the problem without docker:

[code]

[2016-09-27 10:01] m1ci commented on #15
weird, the stack trace says:
`java.lang.NoClassDefFoundError: org/apache/solr/client/solrj/impl/HttpSolrClient`

[2016-09-27 14:51] jnehring commented on #15
Ok I get a different error from when I run it inside of docker then when I run it from outside of docker (see [this commit](https://github.com/freme-project/freme-docker/issues/15#issuecomment-249820549).

[2016-09-27 15:27] jnehring commented on #15
The maven configuration was wrong and the wrong artifact was pulled in. I could fix the issue.

[2016-09-27 15:27] #15 closed, assigned to sandroacoelho, jnehring

[2016-09-28 10:20] sandroacoelho commented on #16
Hi @jnehring , @m1ci

[Solr](https://github.com/freme-project/freme-docker/blob/master/freme-ner-old/docker-compose.yml#L17) is file-oriented with data/metadata self-contained by cores (Solr dataset) stored under server/solr/ folder. So you can build an index, pack and distribute  it with a simple copy and paste.

Virtuoso  has a more sophisticated mechanism because it is an RDBMS/Triple store, bu

[2016-09-28 10:23] sandroacoelho commented on #17
Virtuoso is an RDBMS/Triple store, but checking the documentation it is possible to use copy and paste to distribute the datasets. Please check it out in this [technical tutorial](http://virtuoso.openlinksw.com/dataspace/doc/dav/wiki/Main/VirtuosoDocker).

I am now working on in a small example. When I have it done, I will send you.

[2016-09-28 10:41] sandroacoelho commented on #12
Hi @jnehring ,

Going deeper in Virtuoso/Docker documentation, I've found this [tutorial](http://virtuoso.openlinksw.com/dataspace/doc/dav/wiki/Main/VirtuosoDocker).  Talking with a friend about this problem, he advises me keep data out of the container to take some advantages,  like
- Backup / restore your data when you need/want;
- Our application needs Read/Write operations. When we use docker

[2016-09-28 10:43] sandroacoelho commented on #1
Hi @jnehring

This issue was applicable to the first version (under freme-ner-old), because I used pre-compiled jars from Dropbox.

Best,

[2016-09-28 10:43] #1 closed, assigned to sandroacoelho

[2016-09-28 11:50] jnehring commented on #9
For a start we will just make all UIs accessible for nobody. If anyone needs these UIs we can find an appropriate solution.

[2016-09-28 11:50] #9 closed, assigned to ghsnd, pheyvaer

[2016-09-28 11:51] jnehring opened #18 "Test the docker installation"
See https://github.com/freme-project/freme-docker/wiki

[2016-09-28 13:10] jnehring opened #19 "setup dev installation"
I want to create a docker development installation. It should be automatically updated by Jenkins.

First step of this task: Research how others did this.

[2016-09-29 08:05] pheyvaer commented on #18
I've successfully installed FREME using docker. However, three remarks/questions:
- e-Translation timed out the first time, probably the VM at Tilde's side had to boot (?), so maybe as a test example another call would be better
- where are all the docker-compose elements stored that are being downloaded? Because it downloaded multiple gigs and the total size of the images is less than 3.5G.
- Do

[2016-09-29 08:20] fsasaki commented on #18
the docker compose page https://github.com/docker/compose/releases says:

does this mean that Compose needs to be installed separately? Since the instructions for freme docker lists two separate prerequisites:

[2016-09-29 08:21] pheyvaer commented on #18
For Linux you need to do that.

[2016-09-29 09:09] ghsnd commented on #18
I also successfully installed it.
The wiki adds 'sudo' to some docker commands, but this is not necessary if your user is in the 'docker' group.

[2016-09-29 09:10] jnehring commented on #18
@pheyvaer @ghsnd thanks for testing! Im glad it worked out. Was the process straight forward or did you have to overcome any obstacles?

Good idea.

Hm good question. You can use `docker images` or `docker ps -a` to see the images. To save space you can also delete the images using `docker rm` or `docker rmi`.

Nope, thats fine what you did.

Yes. You need to install the two separately.

[2016-09-29 09:12] pheyvaer commented on #18
That's about the docker images, but I think it downloaded way more that the total size of the images, no?

[2016-09-29 09:22] jnehring commented on #18
I do not know how much it downloaded. Is this important? Do you know roughly how much it downloaded? The size of the 4 images that make up FREME sums up to around 3.5 GB.

[2016-09-29 09:22] pheyvaer commented on #18
It is important if it is locally stored and not removed ;) because if it downloads 3.5G and makes images of 3.5G than that's already 7G, where you are not using half of it, once the images are created.
No, I didn't save the output.

[2016-09-29 09:26] jnehring commented on #18
I suggest to clean up you use

`docker ps -a`
and then `docker rm` for each container.

afterwords you can use

`docker images`
and `docker rmi` for each image

This should delete containers and images. I do not know of another cleanup method.

[2016-10-04 12:58] jnehring opened #20 "add volume to store logfiles"
In this way the logfiles will be accessible from outside of the container.

[2016-10-04 13:09] jnehring commented on #20
log files will be stored in a folder logs/ next to the docker-compose.yml file.

[2016-10-04 13:09] #20 closed, assigned to jnehring

[2016-10-04 14:22] jnehring commented on #18
done

[2016-10-04 14:22] #18 closed, assigned to pheyvaer, bgrusdt

[2016-10-04 15:21] jnehring commented on #19
I setup a development installation. It runs the latest snapshot version of FREME

[2016-10-04 15:21] #19 closed, assigned to jnehring

[2016-10-05 15:22] jnehring opened #21 "Cleanup freme-worker server"
We need to free space on freme-worker server.

@m1ci will cleanup /home/nilesh , /home/milan and check on unused virtuoso datasets
I will cleanup the other folders.

[2016-10-12 13:00] jnehring commented on #17
Next step: Add the remaining dbpedia datasets and Europeana

[2016-10-12 13:00] jnehring commented on #16
Next step: Add the remaining dbpedia datasets and Europeana

[2016-10-12 13:07] jnehring opened #22 "Discussion: Add data to the containers or outside of the containers"
In #16 and #17 we add data to the docker images.

@sandroacoelho propose solution a) to have one docker image of Virtuoso, another docker image of Solr. This image has configured a data folder outside of the container that stores the Virtuoso data / Solr data. So there is one small docker image. Further for Solr there are two versions of the data folder (one with all dbpedia datasets and europena

[2016-10-12 13:08] jnehring commented on #12
This will be handled by #16 and #17

[2016-10-12 13:08] #12 closed, assigned to sandroacoelho

[2016-10-12 13:08] jnehring commented on #10
This issue is solved.

[2016-10-12 13:08] #10 closed, assigned to nobody

[2016-10-12 13:09] jnehring commented on #2
We will not do this. The documentation (#8) will have a section how to update the images without maven.

[2016-10-12 13:09] #2 closed, assigned to nobody

[2016-10-12 14:13] jnehring opened #23 "Question on freme-ner docker images"
The [fremeproject dockerhub website](https://hub.docker.com/r/fremeproject/) lists a lot of docker images:
- fremeproject/freme-ner-en
- fremeproject/freme-ner-es
- fremeproject/freme-ner-fr
- fremeproject/freme-ner-ru
- fremeproject/freme-ner-it
- fremeproject/freme-ner-nl

IMO these can be deleted. @sandroacoelho is there a reason to keep them? When we do not delete them we need to document what

[2016-10-12 22:56] sandroacoelho commented on #23
We can delete it. I did for you.

[2016-10-12 22:56] #23 closed, assigned to sandroacoelho

[2016-10-13 07:30] jnehring commented on #23
thanks :)

[2016-10-13 09:25] jnehring commented on #21
I moved around 190 GB of data from /home/milan to freme-dev server, folder /home/u231015/data-milan .

[2016-10-13 13:17] sandroacoelho commented on #22
Hi @jnehring ,

When the data is stored inside the image, it works like a "ROM" memory (It is an issue for B solution). Whenever you start FREME image, you can run read/write operations, but all write operations are not persistent. When you power-off the image and start again, all changes made by the users will be lost.

The benefits to having the data outside the Docker are:
- We will have just i

[2016-10-17 09:26] jnehring commented on #22
This would be a real issue. But I am not sure if this is true. I tried with the MySQL database docker image. It is totally self contained and all data is stored in the image. I can add data and restart the image. The data is still there. So write operations can be made persistent.

I will test this behaviour.

[2016-10-17 15:07] jnehring commented on #22
The ROM issue is not totally correct because we can define a volume in the image that provides read / write access.  After FREME has ended we have no other possiblity to store large files as docker hub. So I think we should add the data to the images simply because we have no other option.

We could host the data also as a data only container, this is a container that just stores the data. But I a

[2016-10-17 15:09] jnehring commented on #17
The files you produced for Virtuoso are ~ 200 GB. This is so large, we should give it a second thought if we really need all the data. Currently the datasets on virtuoso are way smaller. Did you upload the whole datasets? I think we need the labels only, so all triples with rdfs:label property.

@m1ci  is this correct? Or do we need other data also?

[2016-10-17 15:18] m1ci commented on #17
the types are also needed. Triple having `rdf:type` predicate should be added.

[2016-10-17 15:36] sandroacoelho commented on #22
Thanks for testing it.  I didn't know about that.

[2016-10-18 08:26] jnehring commented on #17
@sandroacoelho sorry but please do this again. This time add to the virtuoso only triples with rdfs:label and rdf:type from all dbpedia datasets and europeana.

In above I wrote rdfs:type but I think this does not exist and it should be rdf:type

[2016-10-18 11:09] sandroacoelho commented on #17
Hi @jnehring : not problem at all. I will reindex it today just with labels and types.

[2016-10-19 09:42] jnehring commented on #22
I did not succeed in adding the data to a docker container. Although

[2016-10-19 09:50] jnehring commented on #22
I did not succeed in adding the data to a docker image. I thought the [data container](http://container42.com/2013/12/16/persistent-volumes-with-docker-container-as-volume-pattern/) might solve the problem but it did not work out.

It is odd because the fremeproject/freme-mysql-data image has the sql database initialised with data and it works fine.

We are running out of time so I propose to not

[2016-10-19 11:29] pheyvaer opened #24 "SSL Error"
When testing pipeling with the DFKI Docker installation, I get the following error.

[code]

I tested the pipeline example of the API doc (I updated the URLs to the correct ones when running it on my side):

[code]

[2016-10-19 11:43] pheyvaer opened #25 "e-publishing not latest version"
On the Docker installation of DFKI, is the latest version of e-publishing installed? Because the [issue](https://github.com/freme-project/e-Publishing/issues/23) that was fixed, is giving an error now.

[2016-10-19 11:47] jnehring commented on #25
i will check this

[2016-10-19 12:05] Katsivelisp commented on #25
Hi, I just noticed too and was about to report this. :)

[2016-10-19 12:07] jnehring commented on #25
it was not running the latest version. i updated it. please check again.

[2016-10-19 12:08] pheyvaer commented on #25
I still get the error.

[2016-10-19 12:09] jnehring commented on #25
ok i will further investigate.

[2016-10-19 12:10] jnehring opened #26 "https with docker"
FREME itself supports https through mod_proxy by https. Apache provides https and redirects to the unsecure FREME API. It is still safe because the unencrypted connection happens on localhost only

We need to decide if the docker installation should support https also.

[2016-10-19 12:10] jnehring commented on #24
the docker installation does not support https. i tried with http and it worked.

i opened https://github.com/freme-project/freme-docker/issues/26 to decide whether we do something to make our docker installation support https also.

[2016-10-19 12:21] jnehring commented on #25
Something went wrong with the release. The current release contains e-publishing in version 0.5, but I have released e-publishing version 0.6. The same problem occurs on freme-dev and freme-live also.

So I will fix the release and install the latest version of e-publishing. I will do this tomorrow.

[2016-10-20 09:43] jnehring opened #27 "Test Postprocessing, XSLT Converter, User"
Please test these three modules on `http://rv2622.1blu.de:4000`. E.g.

[code]

[2016-10-20 09:57] jnehring commented on #25
I have updated e-publishing to the latest version and run the curl request from https://github.com/freme-project/e-Publishing/issues/23. IMO it works now. @pheyvaer please confirm.

[2016-10-20 09:58] jnehring commented on #24
We can close this. FREME does not support https itself but only via the apache mod_proxy so this is no problem. But we should note this behaivour in the documentation.

[2016-10-20 09:58] #24 closed, assigned to jnehring

[2016-10-20 10:09] bgrusdt commented on #27
The call to

[code]

in **filter / POST documents** only works on all three, dev/live/docker, when Content-Type=text/turtle and Accept=text/comma-separated-values headers are used instead of informat and outformat parameters.

It results in this Error-Message:

[code]

[2016-10-20 10:22] #25 closed, assigned to jnehring

[2016-10-20 10:33] bgrusdt commented on #27
@jnehring This is all I found, the rest worked. Was this the call that didn't work for you?

[2016-10-20 10:52] jnehring commented on #27
Thank you for testing. It is ok that the SPARQL converter endpoint do not accept informat or outformat parameters, the [api documentation](https://freme-project.github.io/api-doc/full.html#!/Toolbox%2FPostprocessing-Filter/post_toolbox_convert_documents_name) says that these endpoints use content-type and accept headers only.

Of the 5 XSLT converters I have in the collection, 3 did not work:
- id

[2016-10-24 15:20] jnehring commented on #17
Hi @sandroacoelho . In last developers call we noted several tasks:
- Upload the virtuoso data folder for all standard datasets (dbpedia in all FREME languages and europeana) to freme-dev
- Create the data folder for Virtuoso and Solr for all datasets and upload it.

What is the state of these tasks?

[2016-10-24 15:51] sandroacoelho commented on #17
Hi @jnehring

I did not tell you (sorry),  but all of them are available at rv1443.1blu.de

SOLR DBpedia: /home/u231015/dumps/solr_dbpedia

SOLR DBpedia Europeana: /home/u231015/dumps/solr_dbpedia_europeana

Virtuoso DBpedia 2016-04 (Just with labels and types for en, de, nl, fr, it, es and ru) :

/home/u231015/dumps/2016-04/virtuoso-dbpedia/

Virtuoso DBpedia 2016-04 + Europeana:

/home/u231015/d

[2016-10-25 06:54] jnehring commented on #17
Great thanks! Will test it as soon as possible

[2016-10-25 13:02] andish opened #28 "Copy of server contains link to Tilde Dev version of services"
Seems that  copy of FREME points to Tilde Development environment. Should be switched to the public version.

This curl shouldn't return an error:

[code]

[2016-10-26 13:44] jnehring commented on #17
Hey @sandroacoelho I think this is a mis understanding. We need
1. Dumps of Solr and Virtuoso with DBPedia in en, de, nl, fr, it, es and ru and Europeana
2. Dumps of Solr and Virtuoso with all datasets ([complete list here](https://docs.google.com/document/d/1UNPkoCjScO5HPXYs4DxzfWjOe0kX0sSbj3h07surY5E/edit#heading=h.1vplesoqybpl))

I think that 1) is solved, but 2) is not solved.

[2016-10-26 13:58] sandroacoelho commented on #17
Hi @jnehring,

I can add the missing datasets. No problem. I will tell you when it is ready.

Best,

[2016-10-26 15:02] jnehring commented on #28
I think the problem lies within the CURL request. For some reason curl fails when you do not add a Content Type header. Try this request

[code]

I cannot reproduce the problem in Postman.

[2016-10-26 15:16] andish commented on #28
Yes, it is now working also with my sample.
Yesterday it returned "no MT system available" message (Dev environment do not have any system now).

[2016-10-26 15:16] #28 closed, assigned to jnehring, andish

[2016-10-27 08:38] jnehring commented on #27
I updated the configuration of the broker and added the e-internationalization blacklist parameters from the dev and live broker. This solved the problems with identity transformation and xslt-with-param. The Problem with html-to-xliff20 still exists. We need to fix this problem later.

The curl request for the problem with html-to-xliff20 is

[code]

http response

[code]

the log message

[code]

[2016-10-27 13:06] jnehring commented on #8
The guide how to install FREME in docker is finished: https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/use-freme-docker.html

The old information in the wiki is not important. I will use this installation to write a second guide how to maintain the docker files.

[2016-11-03 12:02] pheyvaer opened #29 "e-Translation not working in FREME basic"
I tried FREME basic and executed this command.

`curl -X POST "http://localhost:4000/e-translation/tilde?input=hello+world&informat=text&source-lang=en&target-lang=de"`

This is the error I get. Do I need to enable e-Translation somewhere, before I can use it?

[code]

[2016-11-03 12:03] m1ci commented on #29
dont you have typo in the request? see `source-lang=entarget-lang=de` missing & sign between en and target-lang

[2016-11-03 12:05] pheyvaer commented on #29
yeah, copy-pasted it bad from terminal. Updated the issue.

[2016-11-03 16:16] ghsnd opened #30 "Standard installation contains only English for NER"
According to the [documentation](https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/use-freme-docker.html):

I tried English, Dutch and French. E.g. for Dutch, I changed the following line in `config.env`:

    FREME_NER_LANGUAGES=nl

Only English works. For French and Dutch, this shows in the log files during startup:

[code]

And indeed, only `wikiner-en-ner-model.ser.gz` is

[2016-11-04 01:34] sandroacoelho commented on #17
TODOs:
- [x] Move all data to the Default Graph http://www.freme-project.eu/datasets/types
- [ ]  Install DBpedia Ontology

[2016-11-04 01:51] sandroacoelho commented on #30
Hi @ghsnd,  Thank you for the feedback.

Before going to holidays, @jnehring has provided a demo just with English model and asked the team to validate the installation.

Have you found some issue during the installation with the English model?

He comes back on next week and will merge our issue #17, delivering  together with the other languages models.

Best,

[2016-11-04 02:13] sandroacoelho opened #31 "DefaultGraph"
FREME NER is using [http://www.freme-project.eu/datasets/types](https://github.com/freme-project/freme-ner/blob/002c7c742b0609fc4c886ac2cbdd53b98f10fdbb/src/main/java/org/elinker/core/api/java/utils/SPARQLProcessor.java#L48) as a default graph.

Standardize it is a good idea, putting the same address in [Docker Compose](https://github.com/freme-project/freme-docker/blob/master/compose/docker-compo

[2016-11-04 10:05] m1ci commented on #31
+1 - but see if it will not cause some problems first. This relates to https://github.com/freme-project/freme-ner/issues/160#issuecomment-258388591

[2016-11-04 14:34] m1ci commented on #17
There is no need.

Yes, please @sandroacoelho (cc @jnehring) add the latest dbpedia ontology into the virtuoso in the docker image
http://downloads.dbpedia.org/2016-04/dbpedia_2016-04.owl

[2016-11-07 08:48] jnehring commented on #31
Leaving it blank sounds simple. What are the implications of this? When people load data in Virtuoso, do they need to add it to the default graph? Or to the graph "http://www.freme-project.eu/datasets/types" ?

[2016-11-07 11:00] jnehring opened #32 "Docker installation on freme-worker does not run anymore"
I need to find out what happened.

[2016-11-07 15:59] jnehring commented on #32
It crashed for two reasons

1) There was not enough RAM on the worker machine so FREME crashed. It tried to restart all over again which is a good sign - the automatic crash recovery works. But it could not come up because of the RAM. I switched off all languages but English on freme-dev to free some RAM.
2) There was a problem with fremeproject/freme-mysql-standard image. It did not contain any d

[2016-11-07 15:59] #32 closed, assigned to jnehring

[2016-11-07 16:00] jnehring opened #33 "FREME NER does not work in the docker installation"
curl -X POST -H "Content-Type: text/plain" -H "Accept: text/turtle" -H "Cache-Control: no-cache" -H "Postman-Token: ba1b9f35-0e55-012d-d038-b6b300f5e073" -d 'The Eiffel Tower (/ˈaɪfəl ˈtaʊər/ EYE-fəl TOWR; French: tour Eiffel [tuʁ‿ɛfɛl] About this sound listen) is a wrought iron lattice tower on the Champ de Mars in Paris.' "http://rv2622.1blu.de:4000/e-entity/freme-ner/documents?language=en&datas

[2016-11-09 01:59] sandroacoelho commented on #31
They need to add into default graph (blank) because we do not use  http://www.freme-project.eu/datasets/types anymore

[2016-11-09 03:03] sandroacoelho commented on #17
Hi @jnehring,

All dumps will be available under /home/u231015/dumps

├── agroknow
│   ├── mysql
│   ├── solr
│   ├── virtuoso
├── iminds
│   ├── mysql
│   ├── solr
│   └── virtuoso
├── vtec
│   ├── mysql
│   ├── solr
│   └── virtuoso
└── wripl
    ├── mysql
    ├── solr_dbpedia
    └── virtuoso-dbpedia

Uploading completed:
- [ ] agroknow
- [ ] iminds
- [ ] vtec
- [X] wripl

[2016-11-09 11:08] jnehring commented on #29
I could reproduce the error on the dfki docker installation. The docker image used an old version of e-Translation. I updated it and created a new image of the broker. The issue is fixed on our installation. @pheyvaer can you please test if the problem is fixed on your side?

[2016-11-09 11:09] jnehring commented on #22
This question is solved.

[2016-11-09 11:09] #22 closed, assigned to sandroacoelho, jnehring

[2016-11-09 11:41] pheyvaer commented on #29
When I do `docker-compose up -d` it says

[code]

And the issue still remains. Do I need to do sth special to make it download the newest version?

[2016-11-09 11:48] jnehring commented on #29
Please try

[code]

[2016-11-09 11:54] pheyvaer commented on #29
I did that, but still get the same error.

[2016-11-16 04:04] sandroacoelho commented on #33
Hi @jnehring

FREME-NER is fully connected on SOLR.

Checking our docker-compose configuration, we have SOLR under 4001

[code]

In our fremeproject/freme-broker image, we have SOLR under 8983 port (in  application.properties)

[code]

We need to put the service under the same port to work. (I did change nothing in the server someone is using FREME-LIVE right now and SOLR LIVE is running under 898

[2016-11-16 04:06] #31 closed, assigned to m1ci, jnehring

[2016-11-16 15:35] jnehring commented on #33
That solved the problem. Great, thanks!

[2016-11-16 15:35] #33 closed, assigned to jnehring

[2016-11-21 09:49] jnehring commented on #17
@m1ci @sandroacoelho I think we should add a short documentation article about which triples need to be in Virtuoso and for which functionality. The only documentation is this GitHub issue and I think this is not clear. What do you think?

[2016-11-21 13:28] m1ci commented on #17
@sandroacoelho can you write such article, please?

- entity  types: for general classification of entities, for domain specific NER
- entity labels: for attaching entity label via e-Link/pipelining
- DBpedia ontology: for most specific entity type (for DBpedia types)

I think these are the three use cases. @sandroacoelho did I miss something?

[2016-11-21 14:54] sandroacoelho commented on #17
Hi @m1ci, @jnehring : I will do that.

[2016-11-23 10:27] jnehring commented on #30
I could not reproduce this error. I guess it was fixed by one of the latest updates of the broker image. Please try it again.

[2016-11-23 10:32] pheyvaer commented on #30
Executed the following commands, but still get the same error.
[code]

[2016-11-23 11:59] jnehring commented on #30
The problem might be that docker does not download the latest images. Can you please login to the broker container and list the models? Perform these commands, the latest version shows this output:

[code]

[2016-11-23 15:59] jnehring commented on #30
Is the issue solved for you? Why did you close the issue?

[2016-11-24 06:49] pheyvaer commented on #30
Yes, I had to pull the latest version of freme-broker from hub.docker.com using `docker pull`. So maybe it makes sense to update the FREME docker documentation because the following commands don't update the image to the latest version.

[code]

[2016-11-24 08:14] jnehring commented on #30
ah great. i keep this issue open to remind me to update the documentation.

does this solve #29 also?

[2016-11-24 08:49] jnehring opened #34 "update docker images"
Please update the docker containers

[code]

and check if the docker installation works now.

[2016-11-24 10:17] katia-vistatec commented on #34
I tried
curl -X POST "http://localhost:4000/e-translation/tilde?input=hello+world&informat=text&source-lang=en&target-lang=de"

but I got an error:
[Error.txt](https://github.com/freme-project/freme-docker/files/611015/Error.txt)

[2016-11-24 10:20] katia-vistatec commented on #34
In my case the name of these images are different:
tenforce/virtuoso
fremeproject/freme-mysql-standard

[2016-11-24 10:28] jnehring commented on #34
fremeproject/freme-mysql-standard

Right. I updated my GitHub comment so others dont have the same problem.

Error.txt

The problem is that you do not have enough memory (java.lang.OutOfMemoryError: GC overhead limit exceeded). How much memory does your VM have?

[2016-11-24 10:59] katia-vistatec commented on #34
Which VM?

[2016-11-24 11:10] pheyvaer commented on #30
Actually, it is not completely solved, because I still get the error. However, I think that it is because the broker is looking for the wrong file. It looks for `wikiner-en.nl-ner-model.ser.gz` while the file found in the image is `wikiner-nl-ner-model.ser.gz`.

[2016-11-24 12:24] jnehring commented on #34
I mean the virtual machine. I want to know how much RAM your server has. You can check with linux shell command "free -h".

[2016-11-24 14:00] katia-vistatec commented on #34
Ok. The server has 32178 MB (Total), 14050 MB (Used),  18128 MB(Free).
Is it not a problem of JVM?

[2016-11-24 14:12] pheyvaer commented on #30
Yes :)

[2016-11-24 14:12] pheyvaer opened #35 "Basic version also loads English NER model"
The basic version also loads the English NER model. I thought it didn't load any models when you using basic?

[2016-11-24 14:19] ghsnd opened #36 "Solr starts as user "solr""
The solr container `freme-solr` runs a process as user `solr`. This gives errors like

[code]

The problem is dat the directory `/opt/freme-data/solr` is not created as user `solr`. Recursively chowning the directory to `solr` is a workaround, but this should be fixed another way.

I don't know how critical this is...

[2016-11-24 14:40] pheyvaer opened #37 "Set memory limit of broker"
The memory limit of `java` is set [here](https://github.com/freme-project/freme-docker/blob/master/freme-broker/Dockerfile#L7). However, when we load `en` and `nl` this is not enough. Is it possible to move this to a parameter, so we can set it via `docker-compose.yml` or `config.env`?

[2016-11-24 14:50] jnehring commented on #29
solved

[2016-11-24 14:50] #29 closed, assigned to pheyvaer, jnehring

[2016-11-24 14:51] jnehring commented on #34
Maybe this is the problem:

https://github.com/freme-project/freme-docker/issues/37

I will check.

[2016-11-24 14:52] jnehring commented on #34
Can you try to start FREME NER with english language only until we have solved the memory issue?

[2016-11-24 14:54] katia-vistatec commented on #34
Yes. I have to find a CURL for FREME NER.
This is the result I get. No errors!
[curl and result.txt](https://github.com/freme-project/freme-docker/files/611606/curl.and.result.txt)

[2016-11-24 15:33] jnehring commented on #37
I created a new version of fremeproject/freme-broker image that does not set Xmx in the Dockerfile and pushed it to dockerhub. Then I added this line to config.env, according to [this stackoverflow thread](http://stackoverflow.com/questions/29923531/how-to-set-java-heap-size-xms-xmx-inside-docker-container).

[code]

Seems to work. I could start FREME NER with 4 languages en,nl,fr,de with this con

[2016-11-25 09:25] ghsnd commented on #37
I also tried this by putting `JAVA_OPTS='-Xmx5g'` in `config.env`. The `-Xmx3g` is gone indeed, but if I look at the process, I don't see a Xmx parameter at all. Here's the process listing of the broker process:

[code]

@jnehring do you see your `-Xmx5g` parameter when you list the process?

[2016-11-29 10:39] jnehring commented on #36
I could reproduce the problem and could also use the workaround using chown.

What is the issue with the work around? We could add the chown command to the docker installation instructions.

[2016-11-29 10:42] jnehring commented on #35
The [documentation](https://freme-project.github.io/knowledge-base/freme-for-sysadmins/use-freme-docker.html) says

Please close the issue if it is clearer now.

[2016-11-29 10:43] jnehring commented on #34
No errors sounds great!

I close this issue. We solve the last issues with @pheyvaer and @ghsnd and then we can continue with the VTEC installation.

[2016-11-29 10:43] #34 closed, assigned to katia-vistatec

[2016-11-29 10:44] jnehring commented on #26
HTTPS is not an issue of docker so I close this issue.

[2016-11-29 10:44] #26 closed, assigned to nobody

[2016-11-29 11:54] pheyvaer commented on #35
But then under 'standard' it says that the languages are added, which is not the case for the basic version. That part is confusing actually. It kinda contradicts itself.

[2016-11-29 11:57] jnehring commented on #37
I dont see -Xmx5g parameter but this is fine. I think the processes list shows only the command line arguments that where passed to FREME. It does not show the environment variables. `JAVA_OPTS='-Xmx5g'` sets the XMX parameter as environment variable.

When I list the processes I get

[code]

The odd thing is that no matter how I configure the -Xmx option I can always run FREME with all languages.

[2016-11-29 12:33] jnehring commented on #35
Now I see the misunderstanding. I added a few sentences to the overview section. Is it clearer now?

https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/use-freme-docker.html

[2016-11-29 13:43] jnehring opened #38 "Separate API keys for Tilde services"
In https://github.com/freme-project/e-services/issues/39 we have implemented the functionality to pass an authentication parameter to the tilde services. Now each partner should get his own key and add this to his configuration. Tilde can then find out who uses the Tilde APIs,

@andis is it still a requirement from Tilde that everybody uses their own API keys? In this case you should send the API

[2016-11-29 13:45] jnehring commented on #30
documentation is already updated so this issue is finished

[2016-11-29 13:45] #30 closed, assigned to pheyvaer, jnehring

[2016-11-29 13:51] andish commented on #38
Yes, we will provide different authentication parameter for each
installation.

[2016-11-29 13:52] ghsnd commented on #36
It depends if the one installing FREME is willing or allowed to add a user `solr` to the system. Anyway, it is a good idea to document it in the instructions.

[2016-11-29 14:17] pheyvaer commented on #35
Thanks, it is clear now.

[2016-11-29 14:17] #35 closed, assigned to pheyvaer, jnehring

[2016-11-29 14:29] ghsnd commented on #37
I also noticed that, no matter the value of `xmx`, the process always got the same amount of memory. I suspect that the process is just not reading `JAVA_OPTS`, and thus takes the standard percentage of your available RAM memory . This environment variable is also Tomcat-specific; does our Spring Boot app launch Tomcat?

In [this post](https://medium.com/@cl4r1ty/docker-spring-boot-and-java-opts-b

[2016-11-30 09:26] jnehring commented on #8
done: https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/maintain-freme-docker.html

@ghsnd you can find information how to build the broker in the guide

[2016-11-30 09:26] #8 closed, assigned to jnehring

[2016-11-30 10:23] ghsnd commented on #8
Alright, I can build it now, thanks!
I changed the docs slightly...

[2016-11-30 10:33] ghsnd commented on #37
Just reopening it to test (@jnehring) ... Also, a new container with the fix still has to be pushed. Will you do that?

[2016-11-30 12:49] jnehring commented on #37
I tested it and it works for me also. I updated the [documentation](https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/use-freme-docker.html) to mention the new parameter and a method on how to calculate the ram usage of FREME.

[2016-11-30 12:49] jnehring commented on #37
I also push the new broker.

[2016-11-30 12:50] katia-vistatec commented on #37
So I can try also to see if it works for me.

[2016-11-30 12:52] jnehring commented on #37
Yes please. You need to pull the latest broker and update your config.env file to add the new configuration option.

[2016-11-30 14:27] katia-vistatec commented on #37
It doesn't seem to work for me

[2016-11-30 15:50] ghsnd commented on #37
Indeed, I tried a fresh install and saw this message in the log:

    freme-broker_1    | Error: Could not find or load main class '-Xmx5g'

Will look into this tomorrow...

[2016-11-30 16:04] jnehring opened #39 "FREME test suite"
To verify that FREME works after an installation I created a test suite using the [automated test feature](http://blog.getpostman.com/2014/03/07/writing-automated-tests-for-apis-using-postman/) of postman. Using the test suite you can execute a series of postman requests. The HTTP response of the requests will be matched against a set of rules.

To execute it

1. [Download the collection](https://

[2016-11-30 16:06] katia-vistatec commented on #37
Really weird but now it seems to work. This is what I obtain with the test curl in the documentation:
curl -X POST "http://localhost:4000/e-translation/tilde?input=hello+world&informat=text&source-lang=en&target-lang=de"
<http://freme-project.eu/#char=0,11>
        a                    nif:String , nif:RFC5147String , nif:Context ;
        nif:beginIndex       "0"^^xsd:nonNegativeInteger ;

[2016-11-30 16:09] katia-vistatec commented on #37
Before logging off I checked that the JAVA_OPTS environment variable was read inside the freme broker container. When I logged in again to check if I had the same error I found no error.

[2016-11-30 16:47] katia-vistatec opened #40 "Error for CURL calling freme-ner"
After Docker installation:

When calling curl -X POST --header "Content-Type: text/html" --header "Accept: text/html" --data "@input.txt" "http://localhost:4000/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=spot%2Clink"

I get an error:

{
  "exception": "eu.freme.common.exception.UnsupportedRDFSerializationException",
  "path": "/e-entity/freme-ner/documents",
  "message": "Parame

[2016-12-01 12:04] jnehring commented on #37
I do not get this error.

[2016-12-01 12:19] jnehring opened #41 "Rebuild freme-mysql images"
The e-Link templates do not have the correct IDs. I need to create new MySQL dumps that contain the IDs also. Then I need to add them to the images, rebuild the images and push.

[2016-12-01 12:25] jnehring commented on #40
Your curl was correct. I could reproduce the error. There was a configuration issue that I have fixed. Now the error is fixed on our docker installation. I have already pushed a new docker image for the broker.

Can you update the broker and check if this solves your problem?

[2016-12-01 12:37] jnehring commented on #41
done.

[2016-12-01 12:37] #41 closed, assigned to jnehring

[2016-12-01 13:11] ghsnd commented on #37
My install was not entirely fresh. I did it again this morning, and now it all works. I think we can consider this issue closed.

[2016-12-01 13:11] #37 closed, assigned to ghsnd, pheyvaer, jnehring

[2016-12-01 13:46] jnehring opened #42 "Create full distribution"
RIght now there is only data for basic and standard installation. Now I need to prepare the full installation.

[2016-12-01 14:04] jnehring opened #43 "does not update admin password"
When I start the freme broker from docker then it does not configure the admin password. Therefore I cannot create an admin auth token.

[2016-12-01 14:36] katia-vistatec commented on #40
For now It gives me an error.
[Error.txt](https://github.com/freme-project/freme-docker/files/624856/Error.txt)

[2016-12-01 14:44] ghsnd commented on #39
One test fails (**e-link example API call**), but this is probably because I have no templates:

[code]
All other tests pass.

[2016-12-01 14:51] jnehring commented on #43
This is not a bug. I just rebuild the mysql container after the broker has been started so the password was not initialised. When I restarted the broker it set the password.

[2016-12-01 14:51] #43 closed, assigned to jnehring

[2016-12-01 14:51] ghsnd commented on #39
Strange though that having no templates causes an error rather than an empty list in the response...

[2016-12-01 14:52] jnehring commented on #39
Thanks for testing! You have templates but they have the wrong IDs (see #41). Therefore the e-link example API call that uses template id 1 fails. This issue should be fixed after an update of the mysql container.

[2016-12-01 14:53] jnehring commented on #40
I will take a look at the problem.

[2016-12-01 14:56] jnehring commented on #36
I added the chmod command to [use freme on docker guide](https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/use-freme-docker.html).

[2016-12-01 15:04] ghsnd commented on #39
OK, updated the container, all tests pass!

[2016-12-02 14:57] borriellom commented on #38
We have received the authentication token (thank you @andish) and will use it in our custom installation.
Anyway Tilde services are failing on both dev and live version of FREME. The error says "unauthorized". I guess that also those versions should be updated with the authorization token.
@jnehring  could you update at least the dev version please?

[2016-12-02 15:01] andish commented on #38
Hmm, it should work. There is also token for this current installation.
Maybe something wrong with reading the token from application configuration file : application.properties

[2016-12-02 15:45] andish commented on #38
Created pull requests. For both services there were wrong http headers named (should be "Authorization" not "Authentication" for Basic Authentication)

[2016-12-05 08:18] jnehring commented on #38
To configure the authentication key for Tilde in docker installation you can put this configuration in your config.env file:

[code]

I will add this to the docker documentation.

The latest bugfix of this feature is currently not installed in the freme-broker docker image. I will post a comment in this issue when the freme-broker image is updated with the bugfix.

[2016-12-05 08:25] jnehring commented on #39
Next steps

1) Add HTML example to the test suite to test e-Internationalization
2) Add the test suite to the freme documentation

[2016-12-05 08:53] jnehring opened #44 "Error message during Solr startup"
When the Solr docker container starts up it shows this error message. It happens during every startup. FREME NER works anyways.

@sandroacoelho do you know what is the problem?

[code]

[2016-12-05 09:05] jnehring commented on #40
I logged in to the server

1) I exported the environement variable again (export FREME_DISTRIBUTION=standard). It was not set and docker complained.
2) Then I checked config.env file. The first line should be a comment so I added `#` to the first line. But I am not sure if I accidently removed the comment myself before adding it again.
3) The Solr server could not start properly which I could see

[2016-12-05 09:27] katia-vistatec commented on #40
Yes it works, thanks!

[2016-12-05 09:33] jnehring commented on #40
Ok. So as far as I know the VTEC docker installation works now?

You can try the [freme test suite](https://github.com/freme-project/freme-docker/issues/39) for a quick check on multiple freme services.

[2016-12-05 09:54] jnehring commented on #39
@bgrusdt please

* Add two e-Internationalization tests to the test suite. One should convert HTML to NIF, the other one should to HTML roundtripping. Use FREME NER endpoint for the test. Just test if the response code is 200.
* Store the test suite in the API documentation homepage somewhere in https://github.com/freme-project/freme-project.github.io/tree/dev/resources . Then add an explanation h

[2016-12-05 10:46] jnehring commented on #21
I moved another 43 GB of data from /home/milan to freme-dev,  /home/u231015/data-milan

[2016-12-05 11:51] jnehring commented on #42
done

[2016-12-05 11:51] #42 closed, assigned to jnehring

[2016-12-05 14:27] jnehring commented on #14
This issue is done.

[2016-12-05 14:27] #14 closed, assigned to jnehring

[2016-12-05 14:40] jnehring commented on #27
The docker installation contained another XSLT template then the freme-live installation. I updated in the docker container and it works.

[2016-12-05 14:40] #27 closed, assigned to nobody

[2016-12-06 14:20] katia-vistatec commented on #38
I updated the config.env file but it does not work. When I do
curl -X POST "http://localhost:4000/e-translation/tilde?input=hello+world&informat=text&source-lang=en&target-lang=de"
I got an exception:

{
  "exception": "eu.freme.common.exception.ExternalServiceFailedException",
  "path": "/e-translation/tilde",
  "message": "External service failed: ",
  "error": "Unauthorized",
  "status": 401,

[2016-12-06 14:32] jnehring commented on #38
The latest bugfix is not in the current docker image so this is the same error as [this comment](https://github.com/freme-project/freme-docker/issues/38#issuecomment-264472599). Please try another API call, e.g.

curl -X POST -d 'Welcome to Berlin!' "http://localhost:4000/e-entity/freme-ner/documents?language=en&informat=text&mode=spot"

[2016-12-06 14:37] katia-vistatec commented on #38
This one with freme-ner works. Only those with Tilde do not work. Are you going to update the new image in the next days? If not I can work on https://github.com/freme-project/freme-docker/issues/39 commenting this configuration in config.env.

[2016-12-06 14:54] jnehring commented on #38
I can update the docker image tomorrow.

[2016-12-07 07:26] andish commented on #38
When it is planned to release the FREME public server? If not planned soon, than we have to to create temporal fix for Tilde services to make it work in public environment.

[2016-12-07 10:53] jnehring commented on #38
@katia-vistatec I created a new docker image for the broker. For the DFKI installation this solved the problem. Can you please try?

[code]

@andish

I can make a release next week.

[2016-12-07 11:25] katia-vistatec commented on #38
@jnehring I tried and It works.

[2016-12-07 12:42] jnehring commented on #38
Ok. Could you also add your authentication token to the installation?

[2016-12-07 13:02] katia-vistatec commented on #38
Yes I did in the config.env file.

[2016-12-07 13:03] jnehring commented on #38
Ok great. then this issue is solved.

[2016-12-08 10:05] bgrusdt commented on #39
@jnehring  I added the tests to the TEST Suite and uploaded it [here](https://github.com/freme-project/freme-project.github.io/blob/dev/resources/postman/FREME-TEST.postman_collection).

[This](https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/gettingStarted_SysAdmins.html) is the information I added to the getting started Article.
I also added the links to the two articles:

[2016-12-08 10:18] jnehring commented on #39
Thank you. I changed the file ending of the collection to ".json", removed the part of the instruction that says "rename to json". Then I changed the download link to point directly to the raw file instead of the github page.

So this issue is finished!

[2016-12-08 10:18] #39 closed, assigned to jnehring, bgrusdt

[2016-12-08 10:20] katia-vistatec commented on #39
Hi Jan I haven't done the tests so far.

[2016-12-08 11:37] katia-vistatec commented on #39
I also executed the tests of the collection and it worked.

[2016-12-12 13:47] jnehring commented on #38
I reopen the issue to remind me to test if the bug is fixed on freme-live after next release

[2016-12-15 10:07] jnehring commented on #38
fixed through the release: https://github.com/freme-project/technical-discussion/issues/127

[2016-12-15 10:07] #38 closed, assigned to jnehring

[2016-12-15 10:13] jnehring commented on #40
We can close this issue. This refers to the docker installation and it was fixed there. The issue is no longer valid.

[2016-12-15 10:13] #40 closed, assigned to jnehring, katia-vistatec

[2017-01-02 09:51] jnehring opened #45 "Remove .tx file from freme-full data file"
The [data file of FREME full](http://api.freme-project.eu/data/dumps/freme-full.tar.gz) contains a .tx file in the Virtuoso dump. Virtuoso cannot start with this file and it needs to be manually deleted. Therefore the file should be deleted from the dump.

[2017-01-03 09:54] jnehring commented on #45
done

[2017-01-03 09:54] #45 closed, assigned to jnehring

[2017-01-24 14:26] jnehring commented on #36
this is solved by the updated documentation

[2017-01-24 14:26] #36 closed, assigned to nobody

[2017-01-24 14:26] jnehring commented on #21
We no longer need the space.

[2017-01-24 14:26] #21 closed, assigned to m1ci

[2017-01-24 14:27] jnehring commented on #17
This issue is done.

[2017-01-24 14:27] #17 closed, assigned to m1ci, sandroacoelho

[2017-01-24 14:27] jnehring commented on #16
this issue is solved

[2017-01-24 14:27] #16 closed, assigned to sandroacoelho